@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FFF7F5; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F976AC; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
  border: 3px solid #FFF7F5; 
}
